################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.StyleCop
/Source/DevLib.Azure/DevLib.Azure.NET4/bin
/Source/DevLib.Azure/DevLib.Azure.NET4/obj
/Source/DevLib.Azure.NET45/bin
/Source/DevLib.Azure.NET45/obj
/Source/DevLib.Azure.NET45.UnitTest/bin
/Source/DevLib.Azure.NET45.UnitTest/obj
/Source/DevLib.Azure.Storage/StyleCop.Cache
/Source/DevLib.Azure.sln.GhostDoc.user.dic
/Source/DevLib.Azure.NET45/StyleCop.Cache
/Source/DevLib.Azure.Storage/Settings.StyleCop
/Source/DevLib.Azure.NET45/Settings.StyleCop
/Source/StyleCop.Cache
/Source/DevLib.Azure.NET45.UnitTest/StyleCop.Cache
