################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Source/DevLib.Azure/DevLib.Azure.NET4/bin/Debug
/Source/DevLib.Azure/DevLib.Azure.NET4/bin/Debug
/Source/DevLib.Azure/DevLib.Azure.NET4/obj
